/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Playfair+Display&family=Ubuntu:wght@300&display=swap');

/* DEFAULT STYLES */
* {
  margin: 0;
  padding: 0;

  font-family: 'Playfair Display', serif;
  font-size: 14px;
  color: #626262;
}

a {
  text-decoration: none;
}

/*
    CONTAINER CLASS
*/
.container {
  margin: 0 auto;

  width: 100%;
  max-width: 900px;
}
.container--wide {
  max-width: 1062px;
}

/*
    HEADER CLASS
*/
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  padding: 60px 0 20px 0;

  display: flex;
  justify-content: space-between;

  background-color: #fff;
  transition: box-shadow .2s linear;

  z-index: 1000;
}
.header.shadow {
  box-shadow: 0 2px 10px rgba(0, 0, 0, .5);
  transition: box-shadow .2s linear;
}
  .header__logotype {
    float: left;

    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    color: #000;
  }
  .header__right {
    float: right;

    width: 55%;
    height: 30px;
  }
  .header__burger {
    float: right;
  }
  .header__burger::before {
    border: 3px solid #000;
    width: 7px;
    height: 100%;
    display: block;
  }
/*
    NAV-TOGGLE CLASS
*/
.nav-toggle {
  float: right;
  font-size: 0;
  color: transparent;

  position: relative;
  right: 10px;

  display: none;

  cursor: pointer;

  width: 28px;
  height: 28px;
}
.nav-toggle__item {
  width: 20px;
  height: 3px;
  background-color: #c7c7c7;
  border-radius: 30%;

  position: absolute;
  top: 10px;

  transition: background .2s linear;
}
.nav-toggle__item::before,
.nav-toggle__item::after {
  content: '';

  width: 20px;
  height: 3px;

  display: block;

  background-color: #c7c7c7;
  border-radius: 30%;

  position: absolute;

  transition: transform .1s linear;
}
.nav-toggle__item::before {
  top: -7px;
}
.nav-toggle__item::after {
  top: 7px;
}
.nav-toggle.active > .nav-toggle__item {
  background-color: transparent;
}
.nav-toggle.active > .nav-toggle__item::before {
  transform-origin: left;
  transform: rotate(45deg);
  width: 28px;
}
.nav-toggle.active > .nav-toggle__item::after {
  transform-origin: right;
  transform: rotate(-45deg);
  top: -7px;
  left: -8px;
  width: 28px;
}

/*
    MENU CLASS
*/
.menu {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: space-between;
  text-align: center;
}
  .menu__link {
    margin: auto 0;
    padding: 0 7px 5px 7px;

    display: block;

    text-transform: uppercase;

    border-radius: 9px;

    transition: border .1s linear, box-shadow .1s linear;
  }
  .menu__link:hover {
    border-bottom: 1px solid #626262;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, .2);
  }

/*
    PAGE CLASS
*/
.page__cover-img {
  margin-top: 30px;
  margin-bottom: 98px;

  width: 100%;
  height: auto;
}
.page__postcards-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*
    POST CLASS
*/
.post {
  margin-bottom: 70px;

  width: 100%;
}
.post--short {
  margin-bottom: 136px;
}
  .post__theme {
    margin-bottom: 27px;

    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #b4ad9e;
    text-transform: uppercase;
  }
  .post__title {
    margin-bottom: 32px;

    font-size: 30px;
    font-weight: normal;
  }
  .post__content {
    margin-bottom: 52px;
  }
  .post__comment {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #b4ad9e;
    text-transform: uppercase;

    cursor: pointer;
  }
  .post__comment:hover {
    text-decoration: underline;
  }

/*
    POST-CARD CLASS
*/
.postcard {
  margin-bottom: 93px;
  padding: 7px;

  width: 47%;

  max-width: 480px;

  display: block;

  transition: transform .2s linear, box-shadow .2s linear, filter .3s linear;

  filter: blur(10px);
}
.postcard[data-scroll="in"] {
  filter: none;
}
.postcard:hover {
  transform: scale(1.03);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .1);
}
  .postcard__img {
    width: 100%;
    height: auto;
  }
  .postcard__content {
    position: relative;

    transition: transform .3s linear;
    transform-origin: left;
    transform: scaleX(1);
  }
  .postcard__content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #6b6057;
    opacity: .4;

    transition: transform .3s linear, opacity .2s linear;
    transform-origin: right;
    transform: scaleX(1);
  }
  .postcard__content[data-scroll="in"]::before {
    transform: scaleX(0);
    opacity: 0;
  }
    .postcard__theme {
      margin: 31px 0;

      font-family: 'Ubuntu', sans-serif;
      font-size: 14px;
      color: #b4ad9e;
      text-transform: uppercase;
    }
    .postcard__title {
      margin-bottom: 40px;
    }
    .postcard__title:hover {
      text-decoration: underline;
    }
      .postcard__link {
        font-size: 30px;
        font-weight: normal;
      }
    .postcard__text {
      margin-bottom: 40px;
    }

/*
      NEWSLETTER CLASS
*/
.newsletter {
  margin-bottom: 103px;
  padding: 74px 0;

  background-color: #f0f0f0;

  text-align: center;
}
  .newsletter__title {
    margin-bottom: 81px;

    font-size: 30px;
    color: #333;
  }
  .newsletter__form {
    margin: 0 auto;
    padding: 0 20px;

    max-width: 380px;

    display: block;

    transition: transform .2s linear;
  }
  .newsletter__form::after {
    content: '';

    margin-top: 9px;

    width: auto;

    display: block;

    border-bottom: 1px solid #333;
  }
  .newsletter__form.active {
    transform: scale(1.04);
  }
    .newsletter__email {
      width: 90%;

      border: 0;
      outline: 0;

      background-color: transparent;

      font-style: italic;
      color: #333;
    }
    .newsletter__btn {
      width: 5%;

      border: 0;
      outline: 0;
      cursor: pointer;
    }

/*
      LOAD-MORE CLASS
*/
.load-more {
  margin-bottom: 133px;

  width: 100%;

  display: flex;
  justify-content: center;
}
  .load-more__btn {
    padding: 22px 33px;

    width: 97px;

    display: block;

    font-size: 20px;

    border: 1px solid #626262;

    transition: background-color .1s linear, color .1s linear;

    cursor: pointer;
  }
  .load-more__btn:hover {
    background-color: #626262;
    color: #f0f0f0;
  }
  .load-more__btn--loading {
    height: 40px;
    width: 40px;

    border: 13px solid #f3f3f3;
    border-top: 13px solid #c7c7c7;
    border-bottom: 13px solid #c7c7c7;
    border-radius: 50%;
    animation: load-more__btn--loading__spin 1s linear infinite;

    font-size: 0;
    color: transparent;

    cursor: wait;
  }
  @keyframes load-more__btn--loading__spin {
    0% { transform: rotate(0deg); }
    100% {transform: rotate(360deg); }
  }

/*
      FOOTER CLASS
*/
.footer {
  padding: 39px 0;

  background-color: #f0f0f0;
}
  .footer__inner {
    display: flex;
    justify-content: space-between;
  }
    .footer__section {
      display: flex;
      justify-content: space-between;

      color: #000;
    }
    .footer__section--left {
      float: left;

      width: 22%;
    }
    .footer__section--right {
      float: right;

      width: 13%;
    }

@media (max-width: 1070px)
{
  /*
      HEADER CLASS
  */
  .header__logotype {
    padding-left: 20px;
  }
}

@media (max-width: 867px)
{
  /*
      PAGE CLASS mw867px
  */
  .page__postcards-section {
    justify-content: center;
  }
  /*
      POST-CARD CLASS mw867px
  */
  .postcard {
    margin-bottom: 23px;

    width: 100%;
  }
  .postcard:hover {
    transform: none;
  }

  /*
      LOAD-MORE CLASS
  */
  .load-more {
    margin-bottom: 23px;
  }

  /*
      FOOTER CLASS
  */
  .footer {
    padding: 20px;
  }
  .footer__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__section {
    width: 100%;

    justify-content: space-around;
  }
  .footer__section--left,
  .footer__section--right {
    float: none;
  }
  .footer__section--left {
    margin-bottom: 15px;
  }

  /*
      NEWSLETTER CLASS
  */
  .newsletter {
    margin-bottom: 23px;
  }

  /*
      PAGE CLASS
  */
  .page__cover-img {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  /*
      POST CLASS
  */
  .post {
    margin-bottom: 52px;

    text-align: center;
  }
  .post__content {
    padding: 0 15px;
    text-align: left;
  }
}
@media (max-width: 768px) {
  /*
      MENU CLASS
  */
  .menu {
    position: absolute;
    top: 114px;
    left: 0;
    right: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    box-shadow: 0 7px 5px rgba(0, 0, 0, .5);

    transform-origin: top;
    transform: scaleY(0);
    transition: transform .2s linear;

    background-color: #fff;
    z-index: 1000;
  }
  .menu.active {
    transform: scaleY(1);
  }
  .menu.active > .menu__link {
    width: 100vw;
    height: auto;
  }
  /*
      NAV-TOGGLE CLASS
  */
  .nav-toggle {
    display: block;
  }

  /*
      POSTCARD CLASS
  */
  .postcard {
    padding: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .1);
  }

}
